<app-spinner *ngIf="isLoading" class="spinner"></app-spinner>
<h2 class="your_cart">Your Cart <img src="/assets/images/shopping-cart.svg" alt=""></h2>

    <div *ngIf="cartProducts.length === 0" class="empty-cart">
      <p>Start shopping on the products page.</p>
      <img
        src="https://img.freepik.com/premium-vector/shopping-cart-with-cross-mark-wireless-paymant-icon-shopping-bag-failure-paymant-sign-online-shopping-vector_662353-912.jpg"
        alt="Empty cart"
      />
    </div>

<div class="cart_and_checkout" *ngIf="!isLoading">

  <div class="cart_mobile" *ngIf="cartProducts.length > 0">
    <div *ngFor="let product of cartProducts" class="item_mobile">
      <img [src]="product.pictureUrl" alt="{{ product.name }}">
      <div class="item_info_mobile">
        <p>{{product.name}}</p>
        <h3>{{product.price}} Lei</h3>
         <div class="quantity_controls">
              <a (click)="decreaseQuantity(product._id)"><img src="/assets/images/minus.svg" alt=""></a>
              <span>{{ quantities[product._id] || 1 }}</span>
              <a (click)="increaseQuantity(product._id)"><img src="/assets/images/plus.svg" alt=""></a>
          </div>
      </div>
    </div>
  </div>

  <div class="cart_container" *ngIf="!isLoading" >
    <table *ngIf="cartProducts.length > 0" class="cart_table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price (Lei)</th>
          <th>Quantity</th>
          <th>Subtotal (Lei)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of cartProducts">
          <td class="product_cell">
            <img [src]="product.pictureUrl" alt="{{ product.name }}" />
            <span>{{ product.name }}</span>
          </td>
          <td>{{ product.price.toFixed(2) }}</td>
          <td>
            <div class="quantity_controls">
              <button (click)="decreaseQuantity(product._id)">-</button>
              <span>{{ quantities[product._id] || 1 }}</span>
              <button (click)="increaseQuantity(product._id)">+</button>
            </div>
          </td>
          <td>
            {{ (product.price * (quantities[product._id] || 1)).toFixed(2) }}
          </td>
          <td>
            <button (click)="removeFromCart(product._id)" class="remove_button">
              <img src="/assets/images/del.svg" alt="Remove" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="checkout_container" *ngIf="cartProducts.length > 0" >
    <p><strong>Address:</strong></p>
    <select [(ngModel)]="selectedAddress" class="address_dropdown">
      <option *ngFor="let address of addresses" [value]="address">
        {{ address }}
      </option>
    </select>

    <p><strong>Credit Card:</strong></p>
    <select [(ngModel)]="selectedCard" class="card_dropdown">
      <option *ngFor="let card of creditCards" [value]="card">
        **** **** **** {{ card.slice(-4) }}
      </option>
    </select>

    <p><strong>Shipping:</strong> Free</p>

    <div *ngIf="cartProducts.length > 0" class="cart-total">
      <h3>Total: {{ total.toFixed(2) }} Lei</h3>
    </div>

    <button (click)="checkout()">Checkout</button>
  </div>
</div>
