<app-spinner *ngIf="isLoading"></app-spinner>

<div *ngIf="!isLoading">
  <h2>Your Cart</h2>

  <div *ngIf="cartProducts.length === 0" class="empty-cart">
    <p>Your cart is empty.</p>
    <img src="https://img.freepik.com/premium-vector/shopping-cart-with-cross-mark-wireless-paymant-icon-shopping-bag-failure-paymant-sign-online-shopping-vector_662353-912.jpg" alt="Empty cart" />
  </div>

  <div *ngFor="let product of cartProducts" class="cart-item">
    <img [src]="product.pictureUrl" alt="{{ product.name }}" />
    <div class="info">
      <h4>{{ product.name }}</h4>
      <p>{{ product.price }} Lei</p>
      <div>
        <button (click)="removeFromCart(product._id)">Remove</button>
      </div>
    </div>
  </div>

  <div *ngIf="cartProducts.length > 0" class="cart-total">
    <h3>Total: {{ total }} Lei</h3>
  </div>
</div>

