<div class="sign-in-container">
  <img src="assets/images/cyber-logo.png" alt="" />
  <form (ngSubmit)="onSubmit()">
    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
      name="email"
      required
    />
    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
      name="password"
      required
    />
    <button type="submit">Sign In</button>
  </form>
  <p class="hint">
    Don't have an account? <a routerLink="/signup">Register</a>
  </p>
</div>
