<div class="nav_container">
  <a class="logo" routerLink="/">velto</a>
  <!-- Hamburger Toggle Button for mobile -->
  <button class="hamburger" (click)="toggleMenu()">☰</button>

  <div class="nav_responsive">
    <input type="text" placeholder="Search" />

    <nav>
      <ul>
        <li><a routerLink="/" (click)="closeMenu()">Home</a></li>
        <li><a routerLink="/products" (click)="closeMenu()">Products</a></li>
        <li><a routerLink="/contact" (click)="closeMenu()">Contact</a></li>
        <li><a routerLink="/blog" (click)="closeMenu()">Blog</a></li>
      </ul>
    </nav>

    <div class="nav_btns">
      <a routerLink="/favorites" (click)="closeMenu()">
        <img
          src="assets/images/unfav.svg"
          alt="favorite-icon"
          title="Favorites"
        />
        <span
          class="bubble fav_btn_style hide_element"
          [class.bubble]="favoriteCount > 0"
          [class.fav_btn_style]="favoriteCount > 0"
          [class.hide_element]="favoriteCount == 0"
          >{{ favoriteCount }}</span
        >
      </a>
      <a routerLink="/cart" (click)="closeMenu()">
        <img src="assets/images/cart.svg" alt="shopping-cart" title="Cart" />
        <span
          class="bubble hide_element"
          [class.bubble]="cartCount > 0"
          [class.fav_btn_style]="cartCount > 0"
          [class.hide_element]="cartCount == 0"
          >{{ cartCount }}</span
        >
      </a>
      <a
        routerLink="/login"
        (click)="closeMenu()"
        (click)="checkIfLoggedIn()"
        title="Account"
      >
        <img src="assets/images/user.svg" alt="user" />
      </a>
    </div>
  </div>
</div>
