<div class="nav_container">
<h2>CYBER</h2>
  <input type="text" placeholder="Search">
  <nav>
    <ul>
      <li>
        <a class="active" href="">Home</a>
        <a href="">About us</a>
        <a href="">Contact Us</a>
        <a href="">Blog</a>
      </li>
    </ul>
  </nav>
  <div class="nav_btns">
    <img src="assets/images/favorite-icon.png" alt="favorite-icon">
    <img src="assets/images/shopping-cart.png" alt="shopping-cart">
    <img src="assets/images/user.png" alt="user">
  </div>
</div>
