.product_list {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.filters_and_products {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem 16rem;
}
.filters {
  flex: 0 0 8rem;
}
.product_list_wrapper {
  position: relative;
  width: 100%;
}

.spinner_overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6); /* optional dim */
  display: flex;
  justify-content: center;
  align-items: center;
}
.no_products_available {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.263);
  width: 65rem;
}
 .no_products_available img {
  height: 28rem;
}

@media screen and (max-width: 700px) {
.no_products_available {
  border: unset;
}
  .product_list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    gap: 0.5rem;
    margin: 0.5rem;
  }
  .product_list.single_product {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .filters_and_products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0;
  }
  .no_products_available {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0 4.5rem;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .product_list {
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
  }
}
