<div class="filters_and_products">
  <app-product-filter
    class="filters"
    (filtersChanged)="onFiltersChanged($event)"
  ></app-product-filter>

  <div class="product_list_wrapper">
    <div class="spinner_overlay" *ngIf="loading">
      <app-spinner></app-spinner>
    </div>

    <div class="product_list" [class.single_product]="products.length === 1">
      <div
        *ngIf="!loading && products.length === 0"
        class="no_products_available"
      >
        <img
          src="https://ih1.redbubble.net/image.1935458730.5425/flat,750x,075,f-pad,750x1000,f8f8f8.jpg"
          alt=""
        />
      </div>
      <div *ngFor="let product of products" (click)="goToProduct(product._id)">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
  </div>
</div>
