<div class="filters_and_products">
  <app-product-filter
    class="filters"
    (filtersChanged)="onFiltersChanged($event)"
  ></app-product-filter>

  <div class="product_list_wrapper">
    <div class="spinner_overlay" *ngIf="loading">
      <app-spinner></app-spinner>
    </div>

    <div class="product_list">
      <div *ngIf="!loading && products.length === 0" class="no_products_available">
        <p>No products available.</p>
        <img src="/assets/images/cross.png" alt="">
      </div>
      <div *ngFor="let product of products">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
  </div>
</div>
