<div class="product_main_container" *ngIf="product">
  <div class="product_pictures_container">
    <img
      [src]="currentImage"
      [class.fade]="isFading"
      alt="Main product image"
    />
    <div class="preview_images">
      <img
        *ngFor="let img of product.pictureUrls.slice(1)"
        [src]="img"
        alt="Preview image"
        (mouseenter)="onHover(img)"
        (mouseleave)="onHoverLeave()"
      />
    </div>
  </div>

  <div class="product_info_container">
    <h1>{{ product.name }}</h1>
    <h2>
      {{ getMajorMinorParts(product.price).major }}
      <span class="price_minor">
        ,{{ getMajorMinorParts(product.price).minor }}
      </span>
      Lei
    </h2>
    <div class="product_page_btns">
      <button class="add_to_cart_btn">Add to cart</button>
      <button class="add_to_wish_btn">Add to wishlist</button>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!loading && !product">
  <p>Product not found.</p>
</div>
