<div class="category_container">
  <div class="cateogory_title">
    <h1>Browse by category</h1>
    <div class="category_arrows">
      <img src="/assets/images/left-chevron.png" alt="" />
      <img src="/assets/images/chevron.png" alt="" />
    </div>
  </div>
  <div class="cateogory_products">
    <div class="product" (click)="goToPhones()">
      <img src="/assets/images/smartphone.svg" alt="" />
      <h4>Smartphones</h4>
    </div>
    <div class="product" (click)="goToSmartwatches()">
      <img src="/assets/images/smartwatch.svg" alt="" />
      <h4>Smart Watches</h4>
    </div>
    <div class="product" (click)="goToCameras()">
      <img src="/assets/images/camera.svg" alt="" />
      <h4>Cameras</h4>
    </div>
    <div class="product" (click)="goToHeadphones()">
      <img src="/assets/images/headphone.svg" alt="" />
      <h4>Headphones</h4>
    </div>
    <div class="product" (click)="goToComputers()">
      <img src="/assets/images/computer.svg" alt="" />
      <h4>Computers</h4>
    </div>
    <div class="product" (click)="goToGaming()">
      <img src="/assets/images/gaming.svg" alt="" />
      <h4>Gaming</h4>
    </div>
  </div>
</div>
