.category_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 19rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2rem 19rem;
}
.cateogory_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cateogory_title h1 {
  font-weight: 100;
}
.cateogory_products {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  justify-content: space-evenly;
}
.product {
  background-color: rgba(243, 243, 243, 0.637);
  padding: 0 2rem;
  padding-top: 1rem;
  height: 8rem;
  width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  color: rgb(66, 66, 66);
  cursor: pointer;
  transition: 0.2s ease-in;
}
.product img {
  scale: 0.8;
}
.product:hover{
  img {
    scale: 0.9;
  }
  padding: 0 2rem;
}

.category_arrows img{
  scale: 0.8;
  cursor: pointer;
}
@media screen and (max-width: 700px){
  .cateogory_products {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9rem) 20%;
  }
  .category_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 19rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2rem 19rem;
  }
}
