<div class="category_container">
  <div class="cateogory_title">
    <h1>Browse by category</h1>
    <div class="category_arrows">
      <img src="/assets/images/left-chevron.png" alt="" />
      <img src="/assets/images/chevron.png" alt="" />
    </div>
  </div>
  <div class="cateogory_products">
    <div class="product" (click)="goToPhones()">
      <img src="/assets/images/smartphone.png" alt="" />
      <h4>Smartphones</h4>
    </div>
    <div class="product">
      <img src="/assets/images/smartwatch.png" alt="" />
      <h4>Smart Watches</h4>
    </div>
    <div class="product">
      <img src="/assets/images/camera.png" alt="" />
      <h4>Cameras</h4>
    </div>
    <div class="product">
      <img src="/assets/images/earphones.png" alt="" />
      <h4>Headphones</h4>
    </div>
    <div class="product">
      <img src="/assets/images/laptop.png" alt="" />
      <h4>Computers</h4>
    </div>
    <div class="product">
      <img src="/assets/images/gamepad.png" alt="" />
      <h4>Gaming</h4>
    </div>
  </div>
</div>
