:root {
  --nav_text_color: rgb(170, 170, 170);
  --nav_input_color: rgb(230, 230, 230);
  --nav_logo_color: rgb(75, 75, 75);
}

.sign-up-container {
  width: 100%;
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-family: sans-serif;
  background-color: #fff;
  color: var(--nav_text_color);
  text-align: center;
}

.logo {
  text-align: center;
  color: var(--nav_logo_color);
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--nav_input_color);
  border-radius: 6px;
  background-color: var(--nav_input_color);
  color: #333;
}

button {
  padding: 0.75rem;
  background-color: var(--nav_logo_color);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb;
}
@media screen and (max-width: 700px){
  .sign-up-container {
    max-width: 80%;
    margin: 0;
  }

}
