<h2 class="favorite_name">Your Wishlist</h2>
<app-spinner *ngIf="isLoading"></app-spinner>
<div class="filters_and_products">
  <!-- No filters for favorites, but structure matches -->
  <div class="product_list_wrapper">
    <div
      class="product_list"
      [class.favoriteProducts_single]="favoriteProducts.length === 1"
    >
      <div *ngIf="favoriteProducts.length === 0" class="no_products_available">
        <img
          src="https://sankramayurveda.com/uploads/empty_wishlist.png"
          alt="No products"
        />
      </div>

      <div *ngFor="let product of favoriteProducts">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
  </div>
</div>
