.filters_and_products {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.product_list.favoriteProducts_single {
  grid-template-columns: 1fr;
  justify-items: center;
}

.product_list_wrapper {
  flex: 1;
  max-width: 1200px;
}

.product_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 0.5rem;
  padding: 1rem;
}

.no_products_available {
  grid-column: 1 / -1;
  text-align: center;
}

.no_products_available img {
  width: 50%;
}
.favorite_name {
  width: 100%;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 300;
  margin-top: 2rem;
  color: gray;
}
/* force 2 columns */
@media (max-width: 600px) {
  .product_list {
    margin: 0;
    padding: 0 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
}
/* force 1 columns */
@media (max-width: 400px) {
  .product_list {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
