/* You can add global styles to this file, and also import other style files */
:root {
  --nav_text_color: rgb(170, 170, 170);
  --nav_input_color: rgb(230, 230, 230);
  --nav_logo_color: rgb(75, 75, 75);
  --blue_button_color: #0056b3;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
