<div class="product_card">
  <img
    class="fav"
    [src]="
      (isFavorite$ | async)
        ? 'https://upload.wikimedia.org/wikipedia/commons/f/f1/Heart_coraz%C3%B3n.svg'
        : '/assets/images/unfav.svg'
    "
    alt="Toggle favorite"
    (click)="toggleFavorite()"
  />

  <img
    *ngIf="product.newArrival"
    class="flag_new"
    src="/assets/images/new.png"
    alt=""
  />

  <div class="product_card_info">
    <img [src]="product.pictureUrls[0]" alt="{{ product.name }}" />
    <p>{{ product.name }}</p>
    <p class="green">In stock</p>
    <div class="rating">
      <span class="star filled">★★★★★</span>
      <span class="star"></span>
      <p class="review_nr">3.4</p>
    </div>
    <div class="price_and_buy_btn">
      <h2>
        {{ getMajorMinorParts(product.price).major }}
        <span class="price_minor">
          ,{{ getMajorMinorParts(product.price).minor }}
        </span>
        Lei
      </h2>
      <a href="" class="add_to_cart_btn" (click)="toggleAddToCart($event)"
        ><img src="/assets/images/cart.svg" alt=""
      /></a>
    </div>
  </div>
</div>
