.product_card {
  background-color: #006eff0e;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 15rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
}
.product_card_info {
  text-align: center;
}
.product_card_info p {
  font-weight: 500;
}
.product_card_info img {
  height: 10rem;
}
.product_card_info button {
  padding: 1rem 4rem;
  background-color: black;
  border: none;
  color: aliceblue;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  top: 85%;
  left: 15%;
}
.product_card_info h2 {
  font-weight: 700;
}
.fav {
  width: 100%;
  text-align: end;
  padding: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .product_card {
    width: 7rem;
    padding: 0 1.7rem;
    padding-bottom: 1rem;
  }
  .product_card_info button {
    padding: 0.5rem 1.7rem;
    font-weight: 600;
  }
  .product_card_info img {
    height: 8rem;
  }
}
